#testimonials{
    width: 100%;
    min-height: 100vh;  
}


.tst_header.first{
    padding-top: 80px;
    text-align: center;
    color: var(--color-grey);
    font-size: 1.2rem;
}

.tst_header.second{
    text-align: center;
    color: var(--color-grey);
    font-size: 3rem;
}

.testimonial__container{
    width: 40%;
    margin-top: 150px;
    padding-bottom: 4rem;
}

.testimonials{
    border-radius: 15px;
    background-color: var(--color-primary);
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.4em;
    color: var(--color-white);
}

.client__review{
    text-align: center;
    padding: 1rem;
    margin: 0.8rem 0 auto;
}

.review-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.review-form input,textarea{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.review-form button{
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
}

.message{
    text-align: center;
    color: #00b894;
    font-size: 1.2em;
}

.review-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.message-delete{
    text-align: center;
    color: #d63031;
    font-size: 1.2em;
}

.btn{
    border: none;
    background: transparent;
    color: #fff;
    float: right;
    cursor: pointer;
    padding-right: 20px;
}

@media screen and (max-width: 900px){
    .tst_header.first{
        font-size: 0.9rem;
    }

    .tst_header.second{
        font-size: 2rem;
    }

    .testimonial__container{
        width: 70%;
    }

    .testimonials{
        font-size: 1.1rem;
    }

    .review-form{
        width: 300px;
    }
}